#men_products {
    img {
        max-width: 150px;
    }

    td {
        font-size: 14px;
        font-weight: 300;
        margin: 0;
    }

    .btn {
        width: 150px;
    }
}

#products-table {
    input {
        margin-bottom: 10px;

        &:last-of-type {
            padding-left: 0;
            border: none;
        }
    }
}
